body {
  /* COLORS */
  --main-bg-color: #c4d7f2;
  --heading-1-color: #161616;
}

.section-main {
  background-color: var(--main-bg-color);
  padding: 1rem 2rem;
}

.nav-bar-container {
  margin: 2rem 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.main-heading {
}

.methods-links-container {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.methods-links-container-reappeared {
  display: flex;
}

li {
  font-size: 2rem;
  cursor: pointer;
}
a {
  cursor: pointer;
  text-decoration: none;
}

.hamburger-icon {
  display: none;
}

/* MAIN HEADING END */

.array-def-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* ARRAY DEFINITION ENDING*/
.map-method-container {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.map-form {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.input-array {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

input {
  border-radius: 0.3rem;
  width: 8rem;
  height: 4rem;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.output-array {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
/* =============Imitating list  brackets=========== */
.output-array p:nth-child(1),
.output-array p:nth-child(3) {
  border-radius: 1rem;
}

.output-array p:nth-child(1) {
  padding-left: 1rem;
  border-left: 0.3rem solid black;
}

.output-array p:nth-child(3) {
  border-right: 0.3rem solid black;
  padding-right: 1rem;
}

.map-span-comma {
  font-weight: bolder;
}
/* MAP METHOD ENDING*/

.side-note {
  margin-top: 1rem;
  /*  */
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

/* SIDE NOTE ENDING */

.separator {
  margin: 2rem 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.separator-blank {
  border-radius: 1rem;
  width: 1%;
  height: 0.8rem;
  background-color: rgba(29, 59, 102, 0.397);
}
/* SEPARATOR END */

.filter-method-container {
  margin-top: 2rem;
}

.countries-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  margin-top: 1rem;
}

.all-countries-container {
  border-right: 0.3rem solid black;
  border-left: 0.3rem solid black;
  padding-left: 1rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}

.filter-buttons-container {
  justify-self: center;
  /*  */
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.filter-button {
  background-color: var(--heading-1-color);
  color: var(--main-bg-color);
}

.filter-button-selected {
  color: var(--heading-1-color);
  background-color: var(--main-bg-color);
}

.filtered-countries-container {
  border-right: 0.3rem solid black;
  border-left: 0.3rem solid black;
  padding-left: 1rem;
  border-radius: 1rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.filtered-countries-container p:nth-child(1) {
  grid-column: 1;
  grid-row: 1;
}

.filtered-countries-container p:nth-child(2) {
  grid-column: 5;
  grid-row: 1;
}

.filtered-countries-container p:nth-child(3) {
  grid-column: 3;
  grid-row: 3;
}

.filtered-countries-container p:nth-child(4) {
  grid-column: 1;
  grid-row: 5;
}

.filtered-countries-container p:nth-child(5) {
  grid-column: 5;
  grid-row: 5;
}

/* FILTER METHOD ENDING */

.push-pop-method {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.push-pop-array {
  border-left: 0.3rem solid #161616;
  border-right: 0.3rem solid #161616;

  padding: 0 0.5rem;
  border-radius: 1rem;

  /*  */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.gen-label-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gen-label-text {
  font-weight: 800;
}

/* PUSH POP METHOD ENDing */

.shift-unshift-container {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
}

.shift-container {
  display: flex;
  flex-direction: column;
  /*  */
}

.para-mar-top {
  margin-top: 1rem;
}

.shift-array-container {
  border-left: 0.3rem solid #161616;
  border-right: 0.3rem solid #161616;
  padding: 0 0.5rem;
  border-radius: 1rem;
  margin: 2.5rem 0;

  /*  */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.shift-array-container p,
span {
  font-weight: 700;
}

#shift-btn {
  align-self: flex-end;
}

#shift-span {
  border-bottom: 0.3rem solid #161616;
  margin-left: 2rem;
}

.unshift-container {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  gap: 1rem;
}

.unshift-array-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  row-gap: 1rem;
}

.unshift-grid-element {
  border: 0.3rem solid #161616;
  padding: 1rem;
  border-radius: 1rem;
}

.unshit-array-input-container {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.unshit-array-input {
  width: 50rem;
  border-radius: 1rem;
  font-weight: bold;
  font-family: inherit;
}

/* SHIFT AND UNSHIFT METHODS END */

.red-array-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.red-array-item {
  border: 0.3rem solid #161616;
  padding: 1rem;
  border-radius: 1rem;
  width: 5rem;
  margin-top: 1rem;
  text-align: center;
}

.reduce-container {
  display: grid;
}

.reduce-container {
  grid-template-columns: 1fr 2fr;
}

.reduce-input-container {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}

#reduce-select {
  padding: 1rem;
  font-size: 1.8rem;
  cursor: pointer;
  border-radius: 1rem;
}

.reduce-output-container {
  margin-top: 1rem;
  /*  */
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-items: center;
  align-items: center;
}

.red-span {
  font-weight: bold;
  font-size: 3rem;
}

.red-result-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.red-list {
  border-left: 0.3rem solid #161616;
  border-right: 0.3rem solid #161616;
  padding: 1rem;
  border-radius: 1rem;
  margin: 2.5rem 0;
  font-size: 2rem;
}
/* REDUCE END */
