/* Greater Than 1200px big screens  */
@media (max-width: 112.5em) {
  h1 {
    font-size: 3.2rem;
  }
  /* MAIN HEADING END */

  .array-def-container {
    gap: 1.8rem;
  }

  .para-padding {
    margin-left: 1rem;
  }

  h2 {
    font-size: 2.8rem;
  }

  p {
    font-size: 2rem;
  }
  /* ARRAY DEFINITION ENDING*/
  h3 {
    font-size: 2.2rem;
  }
  button {
    font-size: 2rem;
  }

  .map-span-comma {
    font-size: 2.8rem;
  }
  /* MAP METHOD ENDING*/
  .push-pop-array {
    gap: 1.5rem;
  }
  /* PUSH POP METHOD ENDing */
}

/* UNDER 1200PX Computers */
@media (max-width: 75em) {
  h1 {
    font-size: 2.8rem;
  }
  /* MAIN HEADING END */

  .array-def-container {
    gap: 1.6rem;
  }
  h2 {
    font-size: 2.4rem;
  }
  p {
    font-size: 2rem;
  }
  /* ARRAY DEFINITION ENDING*/
  h3 {
    font-size: 2rem;
  }

  /* MAP METHOD ENDING*/
}

/* UNDER 900PX Tabs */
@media (max-width: 56.25em) {
  h1 {
    font-size: 2.4rem;
  }
  /* MAIN HEADING END */
  .array-def-container {
    gap: 1.6rem;
  }

  .para-padding {
    margin-left: 0.8rem;
  }

  h2 {
    font-size: 2rem;
  }
  p {
    font-size: 1.4rem;
  }
  /* ARRAY DEFINITION ENDING*/
  h3 {
    font-size: 1.8rem;
  }
  button {
    font-size: 1.4rem;
  }
  .map-span-comma {
    font-size: 2.4rem;
  }
  /* MAP METHOD ENDING*/
  .push-pop-array {
    gap: 1rem;
  }
  /* PUSH POP METHOD ENDing */
}

/* UNDER 600PX MOBILES */
@media (max-width: 37.5em) {
  h1 {
    font-size: 2rem;
  }
  /* MAIN HEADING END */
  .array-def-container {
    gap: 1.2rem;
  }
  h2 {
    font-size: 1.8rem;
  }
  p {
    font-size: 1.6rem;
  }
  /* ARRAY DEFINITION ENDING*/
  h3 {
    font-size: 1.6rem;
  }
  button {
    font-size: 1.6rem;
  }
  /* MAP METHOD ENDING*/
}
